{% extends "layout.html" %}

{% block pageTitle %}
  Service list – {{ serviceName }} – NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">List of services available in your area</h1>
	  
    </div>
 </div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.2.0/papaparse.js"></script>
<p> Test01</p>


<script type="text/javascript">

    function arrayToTable(tableData) {
        var table = $('<table></table>');
        $(tableData).each(function (i, rowData) {
            var row = $('<tr></tr>');
            $(rowData).each(function (j, cellData) {
                row.append($('<td>'+cellData+'</td>'));
            });
            table.append(row);
        });
		console.log("Test02");
        return table;
    }

    $.ajax({
        type: "GET",
		dataType: "text",
		contentType: "application/json;charset=utf-8",   
		//url: "./testdata01.csv",
        //url: "http://localhost/Users/lalit.shah_nhsx/Downloads/testdata01.csv",
		url: "https://drive.google.com/file/d/1hwTWUNUV_6Rge2bkUwzz6iepUo-ovvYoTOBIFXPXAxM/view?usp=sharing",
        success: function (data) {
					console.log("Test03");
            $('body').append(arrayToTable(Papa.parse(data).data));
        }
    });
</script>


{% endblock %}
