{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">


      <h1>
        Become a healthier weight
      </h1>

      <p>Make changes to your lifestyle by finding <b>FREE</b> healthy weight support in your local area:</p>

      <ul>
        <li>Our service finder shows <b>FREE local support</b> available to people looking to achieve a healthier weight</li>
        <li>Services range from in-person, online or both</li>
        <li> *Most services require participants to have a BMI of 25+ - check your BMI <a href="https://www.nhs.uk/live-well/healthy-weight/bmi-calculator/" target="_blank"> here </a></li>
        <li>If you have accessibility needsm you can get support completing this with your GP, or anyone that you would like to be involved</li>
      </ul>
      <h2 class="nhsuk-heading-m"> What is <b>FREE</b> local healthyweight support </h2>
      <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. </p>
      <h2 class="nhsuk-heading-m">Why would I seek <b>FREE</b> local healthy weight support </h2>
        <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. </p>
      <h2 class="nhsuk-heading-m">Before you start</h2>

      <p>You can only use this service if you live in the UK.</p>

      <a href="/wms-list" class="nhsuk-button">
        Start now
      </a>

    </div>


{% endblock %}

